/* Container principal */
.home-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Image de fond */
.background-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Pour placer l'image en arrière-plan */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
}

/* Menu */
.menu {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Formulaire */
.registration-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* Barre de progression */
.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.progress-step {
  width: 30px;
  height: 5px;
  background-color: #ccc;
  border-radius: 5px;
}

.completed {
  background-color: #007bff; /* Couleur de progression complétée */
}
