/* Formulaire */
.registration-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  padding: 20px;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form h2 {
  margin-bottom: 20px;
  color: #2ECC71;
  font-family: 'Roboto', sans-serif;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  display: block;
  color: #FFFFFF;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #3498DB;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #3498DB;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  align-self: self-end;
  width: 100%;
}

button:hover {
  background-color: #2ECC71;
}

.progress-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.progress-step {
  width: 20px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 0 5px;
  border-radius: 2px;
}

.progress-step.completed {
  background-color: #2ECC71;
}

/* Responsive */
@media (max-width: 768px) {
  .registration-container {
    width: 90%;
  }
}
/* Formulaire */
.registration-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  padding: 20px;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form h2 {
  margin-bottom: 20px;
  color: #2ECC71;
  font-family: 'Roboto', sans-serif;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  display: block;
  color: #FFFFFF;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #3498DB;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #3498DB;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  align-self: self-end;
  width: 100%;
}

button:hover {
  background-color: #2ECC71;
}

.progress-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.progress-step {
  width: 20px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 0 5px;
  border-radius: 2px;
}

.progress-step.completed {
  background-color: #2ECC71;
}

/* Responsive */
@media (max-width: 768px) {
  .registration-container {
    width: 90%;
  }
}
