/* Menu.css */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px; /* Ajoute un espace autour des éléments du menu */
  margin-left: 30px;
  z-index: 2;
}


.liens{
  margin-left: 360px;
}

.menu-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0; /* Supprime la marge par défaut de la liste */
  padding: 0; /* Supprime le rembourrage par défaut de la liste */
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  padding: 40px; /* Ajoute un peu de rembourrage pour rendre les liens plus cliquables */
}

.isActiveLink {
  font-weight: bold;
  color: rgb(49, 151, 215);
}

.inscription{
  color: #2ECC71;
  font-weight: bold;
}

.signin-button {
  display: flex;
  align-items: center;
  padding: 6px 10px; /* Ajustez le rembourrage selon vos besoins */
  background-color: #2ECC71; /* Utilisez la couleur de fond que vous avez mentionnée */
  color: #FFFFFF; /* Utilisez la couleur de texte souhaitée */
  cursor: pointer;
  border-radius: 3px;
  width: 75px;
}

.signin-button:hover {
  background-color:rgb(49, 151, 215);; /* Couleur de survol */
}